<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> Assessments &gt; Edit </title>
        <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
        <link href="stylesheets/assessmentEdit.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <div class="administratorViewBanner" id="headerTitle">
            <h1>Syllablaster</h1>
            <h2>Assessment Edit</h2>
        </div>
        <div class="administratorViewBanner" id="navButtons">
            <form id="buttonsForm" method="get">
                <input class="administratorViewNavBarButton" id="back" type="submit" value="Back" formaction="/">
                <input class="administratorViewNavBarButton" id="logout" type="submit" value="Logout" formaction="/logout">
                <input class="administratorViewNavBarButton" id="preview" type="submit" value="Preview" formaction="/preview">
            </form>
        </div>        
        
        <div id="assessmentsListSection">
            {% if errors %}
            <p class="error"> Error: {{ errors }} </p>
            {% endif %}
            
            <form class="assessmentForm" id="selectForm" action="/assessment" method="post">
                <ul id="assessmentsList">
                    <li>
                        <h3 style="display: inline;"> Saved items </h3>
                    </li>                    
                    {% for a in assessments %}
                    <li class="assessmentItem">
                        <input type="checkbox" value="{{ a.description }}" name="{{ a.description }}" class="assessmentCheck"
                        {% for b in onSyllabus %}
                        {% if b.description == a.description %}
                        checked="checked"
                        {% endif %}
                        {% endfor %}
                        />
                        {{ a.name }}
                        <button value="{{ a.description }}" name="editButton" formaction="/assessment"> Edit </button>
                    </li>
                    {% endfor %}
                    <li class="listButton">
                        <input type="submit" value="Save List" name="saveButton" id="saveButton" />
                    </li>
                </ul>
            </form>
            
            <form class="assessmentForm" id="editForm" method="post" action="/editassessment"> 
                {% if selected %}   
                <h3 style="display: inline;">  {{ selected }} </h3>
                <input type="submit" value="Delete" name="deleteButton" id="deleteButton" />
                <br /><br />
                {% else %}
                <h3> Create an assessment item. </h3>
                {% endif %}
                
                <input type="text" name="assessmentTitle" id="assessmentTitle" placeholder="Title" size="15" required value="{% if title != None %}{{ title }}{% endif %}" />
                &nbsp;
                <input type="number" name="assessmentPercentage" id="assessmentPercentage" placeholder="Percent" step="5" min="0" max="100" required value="{% if percentage != None %}{{ percentage }}{% endif %}" />
                %
                <br />
                <br />
                <textarea name="assessmentDescription" id="assessmentDescription" placeholder="Description..." rows="10" cols="32" required>{% if description != None %}{{ description }}{% endif %}</textarea>
                <br />
                <br />
                {% if selected %} <input type="submit" value="Update" name="assessmentEditorButton" id="assessmentEditorButton" /> {% endif %}
                <input type="submit" value="Create New" name="assessmentEditorButton" id="assessmentEditorButton" />
            </form>
        </div>
    </body>
</html>