<!DOCTYPE html>
<html>
    <head>
        <title>Calendar Edit</title> 
        <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/calendarEdit.css">  
    </head>   
    <body>
        <div class="administratorViewBanner" id="headerTitle">
            <h1>Syllablaster</h1>
        </div>
        <div class="administratorViewBanner" id="navButtons">
            <form id="buttonsForm" method="get">
                <input class="administratorViewNavBarButton" id="back" type="submit" value="Back" formaction="/">
                <input class="administratorViewNavBarButton" id="logout" type="submit" value="Logout" formaction="/logout">
                <input class="administratorViewNavBarButton" id="preview" type="submit" value="Preview" formaction="/preview">
            </form>
        </div>        
        <!--<h1>{{ msg }}</h1>-->
        
        <div id="calendarEditMain">
            <h1>Course Calendar Edit View:</h1>
            <hr/>
            <form method="POST">
                <table>
                    <tr>
                        <td>Work from existing calendar:</td>
                        <td>
                            <select name="fileName">
                                <option value="new">new</option>
                                {% for i in savedCalendars %}
                                    <option value="{{ loop.index0 }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="submit" name="loadFile" value="Go"></td>
                    </tr>
                </table>
            </form>
            <hr/>
            {% if mySchedule %}
                <form method="POST">
                    {% set onSyl = "" %}
                    {% if mySchedule.onSyllabus %}
                        {% set onSyl = "checked" %}
                    {% endif %}
                    <input class="check" type="checkbox" name="onSyllabus" value="True" {{ onSyl }}> Assigned to syllabus
                    <input type="submit" name="assignToSyllabus" value="Set">
                </form>
                <hr/>
                <form method="POST">
                    <table>
                        <tr>
                            <td>Start Month: </td>
                            <td><input type="number" name="startMonth" value="{{ mySchedule.startMonth }}"></td>
                        </tr>
                        <tr>
                            <td>Start Date: </td>
                            <td><input type="number" name="startDate" value="{{ mySchedule.startDate }}"></td>
                        </tr>
                        <tr>
                            <td>Start Year: </td>
                            <td><input type="number" name="startYear" value="{{ mySchedule.startYear }}"></td>
                        </tr>
                        <tr>
                            <td>Number of Weeks this semester: </td>
                            <td><input type="number" name="weeksThisSemester" value="{{ mySchedule.numWeeks }}"></td>
                        </tr>
                        <tr>
                            <td>Meeting Days:</td>
                            <td>
                                <input class="check" type="checkbox" name="Monday" value="True" {{ mondayChecked }}> Monday
                                <input class="check" type="checkbox" name="Tuesday" value="True" {{ tuesdayChecked }}> Tuesday
                                <input class="check" type="checkbox" name="Wednesday" value="True" {{ wednesdayChecked }}> Wednesday
                                <input class="check" type="checkbox" name="Thursday" value="True" {{ thursdayChecked }}> Thursday
                                <input class="check" type="checkbox" name="Friday" value="True" {{ fridayChecked }}> Friday
                                <input class="check" type="checkbox" name="Saturday" value="True" {{ saturdayChecked }}> Saturday
                                <input class="check" type="checkbox" name="Sunday" value="True" {{ sundayChecked }}> Sunday
                            </td>
                        </tr>
                    </table>
                    <input type="submit" name="generateCalendar" value="Generate">
                </form>
                <hr/>
                <table>
                    <form method="POST">
                        <tr>
                            <td>Row: </td>
                            <td><input type="text" name="targetRowInsert"></td>
                            <td><input type="submit" value="Insert" name="insertRow"></td>
                        </tr>
                    </form>
                    <form method="POST">
                        <tr>
                            <td>Row: </td>
                            <td><input type="text" name="targetRowRemove"></td>
                            <td><input type="submit" value="Remove" name="removeRow"></td>
                        </tr>
                    </form>                
                </table>
                <hr/>
                <form method="POST">
                    <table id="calendarEditCalendarTable">
                        {% set myCalendarSchedule = mySchedule.schedule %}
                        {% set l = (myCalendarSchedule|length)//3 %}
                        {% for i in range(0,l) %}
                            <tr class="calendarEditCalendarRow">
                                <td>{{ i }}</td>
                                <td class="calendarEditWeekColumn"><input class="calendarEditInput" type="text" name="r{{ loop.index0 }}c0" value="{{ myCalendarSchedule[3*i] }}"></td>
                                <td class="calendarEditReadingColumn"><input class="calendarEditInput" type="text" name="r{{ loop.index0 }}c1" value="{{ myCalendarSchedule[3*i+1] }}"></td>
                                <td class="calendarEditTopicsColumn"><input class="calendarEditInput" type="text" name="r{{ loop.index0 }}c2" value="{{ myCalendarSchedule[3*i+2] }}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr/>
                    <input type="text" name="fileName" value="{{ mySchedule.myFilename }}">
                    <input type="submit" value="Save" name="save">
                </form>            
            {% else %}
                <h1> Create new or work from an existing calendar </h1>
            {% endif %}
        </div>   
    </body>
</html>