<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title> SyllaBlaster </title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/courseinfo.css" />
	</head>
	<body>
		<div id="courseInfoEditSection">
			<form id="updateCourseInfo" action="/editinfo"" method="post">
				
                <select name="subjectSelect" id="subjectSelect">
					<option value="" disabled {% if not info.subject %} selected {% endif %}> Select Subject </option>
					<option value="CIV ENG"
                    {% if info.subject == "CIV ENG" %} selected {% endif %}> Civil & Environmental Eng. </option>
					<option value="COMPSCI"
                    {% if info.subject == "COMPSCI" %} selected {% endif %}> Computer Science </option>
					<option value="ELECENG"
                    {% if info.subject == "ELECENG" %} selected {% endif %}> Electrical Eng. </option>
					<option value="IND ENG"
                    {% if info.subject == "IND ENG" %} selected {% endif %}> Industrial & Manufacturing Eng. </option>
					<option value="MATLENG"
                    {% if info.subject == "MATLENG" %} selected {% endif %}> Materials Science & Eng. </option>
					<option value="MECHENG"
                    {% if info.subject == "MECHENG" %} selected {% endif %}> Mechanical Eng. </option>
				</select>
                
				<input type="number" value="{{ info.number }}" placeholder="Course Number" name="courseNumber" id="courseNumber" />
				
                <input type="number" value="{{ info.section }}" placeholder="Section Number" name="sectionNumber" id="sectionNumber" />
				
                <input type="text" value="{% if info.title %}{{ info.title }}{% endif %}" placeholder="Course Title" name="courseTitle" id="courseTitle" />
                
                Meets
                
                <input type="submit" value="Update" name="updateButton" id="updateButton" />
			</form>
		</div>
	</body>
</html>