<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> Instructors &gt; Edit </title>
        <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
        <link href="stylesheets/instructorEdit.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
    
        
            <div class="administratorViewBanner" id="headerTitle">
                <h1>Syllablaster</h1>
                <h2>Instructor Edit</h2>
            </div>
            <div class="administratorViewBanner" id="navButtons">
                <form id="buttonsForm" method="get">
                    <input class="administratorViewNavBarButton" id="back" type="submit" value="Back" formaction="/">
                    <input class="administratorViewNavBarButton" id="logout" type="submit" value="Logout" formaction="/logout">
                    <input class="administratorViewNavBarButton" id="preview" type="submit" value="Preview" formaction="/preview">
                </form>
            </div>
        
        <div class = "instructorSelectionList" id="instructorsToAdd">
            
            <form id="instructorsToAddForm" action="/addinstructor" method="post">
                <ul class="instructorList" id="savedInstructorList">
                    <li>
                        Saved
                    </li>
                    <li>
                        <input type="submit" value="Create New" name="instructorToAddButton" id="newInstructorButton" />
                    </li>
                    <li>              
                        <select size="10" name="availableInstructors" id="availableInstructors" class="instructorsList">
                            {% for instructor in savedInstructors %}
                            <option> {{ instructor.name }} </option>
                            {% endfor %}
                        </select>
                    </li>  
                    <li>
                        <input type="submit" value="Edit" name="instructorToAddButton" id="editInstructorButton" />
                        <input type="submit" value="Add" name="instructorToAddButton" id="availableInstructorsSubmit" />
                    </li>  
                </ul>
            </form>
        </div>
            
        <div class="instructorSelectionList" id="instructorsOnSyllabus">
            <form id="instructorsOnSyllabusForm" action="/removeinstructor" method="post">
                <ul class="instructorList" id="savedInstructorList">
                    <li>
                        On Syllabus
                    </li>
                    <li>
                        &nbsp; 
                    </li>
                    <li>   
                        <select size="10" name="selectedInstructors" class="instructorsList" id="selectedInstructors">
                            {% for instructor in syllabusInstructors %}
                            <option> {{ instructor.name }} </option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <input type="submit" value="Remove" name="removeInstructorButton" id="removeInstructorButton" />
                    </li>  
                </ul>
            </form>
        </div>
        
    </body>
</html>
