<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title> SyllaBlaster </title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	</head>
	<body>
		<h2> Log in to SyllaBlaster </h2>
		{% if errors %}
		<ul id="error">
		{% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		<div id="loginBox">
			<form method="post" action="/login">
			
				<input type="text" placeholder="Username" name="usernameLogin" id="usernameLogin" required />
				<br />
				
				<input type="password" placeholder="Password" name="passwordLogin" id="passwordLogin" required />
				<br />
				<input type="submit" value="Login" name="loginButton" id="loginButton" />
			</form>
			<p> No account? <a href="/signup"> Sign up here. </a> </p>
		</div>
	</body>
</html>