<!DOCTYPE html>
<html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <title> Administrator View </title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/administratorView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/calendarView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/calendarEdit.css" />    
                <link rel="stylesheet" type="text/css" href="/stylesheets/assessmentView.css" />   
                <link rel="stylesheet" type="text/css" href="/stylesheets/assessmentEdit.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/textbookView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/textbookEdit.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/instructorView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/instructorEdit.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/gradingScaleView.css" />
              
              
                <script type="text/javascript">
                function swapDiv(div1, div2, buttonId) {
                d1 = document.getElementById(div1);
                d2 = document.getElementById(div2);
                b = document.getElementById(buttonId);
                if( d2.style.display == "none" )
                {
                        d1.style.display = "none";
                        d2.style.display = "block";
                        b.value = "View"
                }
                else
                {
                        d1.style.display = "block";
                        d2.style.display = "none";
                        b.value = "Edit"
                }
                }
                </script>
                
       
	</head>
	
	<body>
		<div id="administratorViewMain">
			<div id="administratorViewBanner">
				<h1>Syllablaster</h1>
				<h2>Administrator View</h2>
			</div>
			<hr>
			<div id="administratorViewHeader">
				<form>
					<table>
						<tr>
							<td><p>Document Name:<p></td>
							<td><input type="text" name="documentName"></td>
						</tr>
						<tr>
							<td><p>Administrator Name:<p></td>
							<td><input type="text" name="documentName"></td>
						</tr>
						<tr>
							<td><p>Course Name:<p></td>
							<td><input type="text" name="documentName"></td>
						</tr>
						<tr>
							<td><p>Course Section:<p></td>
							<td><input type="text" name="documentName"></td>
						</tr>
						<tr>
							<td><p>Course Term:<p></td>
							<td><input type="text" name="documentName"></td>
						</tr>
					</table>
                    <input type="submit">
				</form>
			</div>			
			<hr>
			
			<div class="administratorViewModule" id="administratorViewCourseTitleMain">
				<div class="administratorViewEditBanner" id="administratorViewCourseTitleBanner">
					<div class="administratorViewEditBannerName">
						<p>Course Title:</p>
					</div>
					<form>
						<input class="administratorViewEditBannerButton" id="administratorViewEditCourseTitleButton" type="button" value="Edit" onclick="swapDiv('courseInfoViewMain', 'courseInfoEditMain', 'administratorViewEditCourseTitleButton');">
					</form>					
				</div>
				<div class="administratorViewModuleDisplay">
                
					<!--COPY/PASTE YOUR COURSE TITLE DISPLAY MODULE HTML HERE-->
					<div id = "courseInfoViewMain">
						<h1> CompSci 361: Intro to Software Engineering Fall 2015</h1>	
					</div>
                    <!--END COURSE TITLE DISPLAY MODULE-->
					<div id = "courseInfoEditMain" style="display: none">
                        <form>
                            Course Title: <input type="text" name="courseTitle" value="CompSci 361: Intro to Software Engineering Fall 2015" style="width:90%">	
                            <input type="submit">
                        </form>
					</div>				
				
				</div>
			</div>
			<hr>
			
			<div class="administratorViewModule" id="administratorViewInstructorInfoMain">
				<div class="administratorViewEditBanner" id="administratorViewInstructorInfoBanner">
					<div class="administratorViewEditBannerName">
						<p>Instructor Info:</p>
					</div>
					<form method="get" action="/editinstructor">
						<input class="administratorViewEditBannerButton" id="administratorViewEditInstructorInfoButton" type="submit" value="Edit">
					</form>		
				</div>
				<div class="administratorViewModuleDisplay">
				
	       <!--COPY/PASTE YOUR INSTRUCTOR INFO DISPLAY MODULE HTML HERE-->
                    <div id = "instructorsViewModule">
                            <table id = "instructorsTable">
                                    {% if instructors: %}
                                    <tr>
                                            <th> Instructor </th>
                                            <th> Class </th>
                                            <th> Office </th>
                                    </tr>
                                    {% for i in instructors %}
                                    <tr>
                                            <td> {{ i.first }} {{ i.last }} <br> {{ i.email }} </td>
                                            <td> COMPSCI 361-401 EMS E145 MW 10-10:50am </td>
                                            <td> {{ i.building }} {{ i.room }} Phone: {{ i.phone }} <br> Office Hours: {{ i.hours }} </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr> <th> -- NO INSTRUCTORS ADDED TO SYLLABUS -- </th> </tr>
                                    {% endif %}
                            </table>
                    </div>
                <!--END INSTRUCTOR INFO DISPLAY MODULE-->
                    
                <!--COPY/PASTE YOUR INSTRUCTOR INFO EDIT MODULE HERE-->
                    
                <!--END INSTRUCTOR INFO EDIT MODULE-->
				
				
				</div>
			</div>
			<hr>
			
			<div class="administratorViewModule" id="administratorViewTextbooksMain">
				<div class="administratorViewEditBanner" id="administratorViewTextbooksBanner">
					<div class="administratorViewEditBannerName">
						<p>Textbooks:</p>
					</div>
					<form method="get" action="/editbooks">
						<input class="administratorViewEditBannerButton" id="administratorViewEditTextbookButton" type="submit" value="Edit">
					</form>			
				</div>
				<div class="administratorViewModuleDisplay">
				
					<!--COPY/PASTE YOUR TEXTBOOK DISPLAY MODULE HTML HERE-->
                    <div id="textbookViewMain">
                        {% if books: %}
                        {% for book in books %}
                        <span class="textbookViewTitle">{{ book.title }}</span>,
                        {% if book.edition %}
                        <span class="textbookViewEdition">{{ book.edition }}</span>,
                        {% endif %}
                        <span class="textbookViewAuthor">{{ book.author }}</span>,
                        <span class="textbookViewPublisher">{{ book.publisher }}</span>,
                        ISBN: <span class="textbookViewISBN">{{ book.isbn }}</span>
                        
                        {% if not loop.last %}
                        <br>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p style="font-weight: bold;"> -- NO BOOKS ADDED TO SYLLABUS -- </p>
                        {% endif %}
                    </div>
                    <!--END TEXTBOOK DISPLAY MODULE-->
                    
                    <!--COPY/PASTE YOUR TEXTBOOK EDIT MODULE HERE-->
                    
                    <!--END TEXTBOOK EDIT MODULE-->
				
				</div>
			</div>
			<hr>
									
			<div class="administratorViewModule" id="administratorViewAssessmentMain">
				<div class="administratorViewEditBanner" id="administratorViewAssessmentBanner">
					<div class="administratorViewEditBannerName">
						<p>Assessment:</p>
					</div>
					<form method="get" action="/editassessment">
						<input class="administratorViewEditBannerButton" id="administratorViewEditAssessmentButton" type="submit" value="Edit">
					</form>			
				</div>
				<div class="administratorViewModuleDisplay">
				

				
					<!--COPY/PASTE YOUR ASSESSMENT DISPLAY MODULE HTML HERE-->
                    <div id="assessmentViewMain">
                        <table id = "instructorsTable">
                                {% if assessments: %}
                                {% for i in assessments %}
                                <tr>
                                        <td> {{ i.title }} <br> {{ i.percentage }}% </td>
                                        <td> {{ i.description }} </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr> <th> -- NO ASSESSMENTS ADDED TO SYLLABUS -- </th> </tr>
                                {% endif %}
                        </table>
                    </div>
                    <!--END ASSESSMENT VIEW DISPLAY MODULE-->
                    
                    <!--COPY/PASTE YOUR ASSESSMENT EDIT MODULE HERE-->
                    
                    <!--END ASSESSMENT EDIT MODULE-->
				
				

				</div>
			</div>
			<hr>
												
			<div class="administratorViewModule" id="administratorViewGradingScaleMain">
				<div class="administratorViewEditBanner" id="administratorViewGradingScaleBanner">
					<div class="administratorViewEditBannerName">
						<p>Grading Scale:</p>
					</div>
					<form method="get" action="/editscales">
						<input class="administratorViewEditBannerButton" id="administratorViewEditGradingScaleButton"type="submit" value="Edit">
					</form>		
				</div>
				<div class="administratorViewModuleDisplay">
								
					<!--COPY/PASTE YOUR GRADING SCALE DISPLAY MODULE HTML HERE-->
                    	<div id = "gradeScaleView">
                            <table id = "gradeScaleView">
                                <tr>
                                    <td> A </td>
                                    <td> A- </td>
                                    <td> B+ </td>
                                    <td> B </td>
                                    <td> B- </td>
                                    <td> C+ </td>
                                    <td> C </td>
                                    <td> C- </td>
                                    <td> D+ </td>
                                    <td> D </td>
                                    <td> D- </td>
                                    <td> F </td>
                                </tr>
                                <tr>
                                    <td> 92 </td>
                                    <td> 88 </td>
                                    <td> 84 </td>
                                    <td> 80 </td>
                                    <td> 76 </td>
                                    <td> 72 </td>
                                    <td> 68 </td>
                                    <td> 64 </td>
                                    <td> 60 </td>
                                    <td> 56 </td>
                                    <td> 52 </td>
                                    <td> 0 </td>
                                </tr>
                            </table>
                        </div>
                    <!--END GRADING SCALE POLICY-->
                    
                    <!--COPY/PASTE YOUR GRADING SCALE EDIT MODULE HERE-->
                    
                    <!--END GRADING SCALE EDIT MODULE-->
				
				</div>
			</div>
			<hr>
			
			<div class="administratorViewModule" id="administratorViewPolicyMain">
				<div class="administratorViewEditBanner" id="administratorViewPolicyBanner">
					<div class="administratorViewEditBannerName">
						<p>Policy:</p>
					</div>
					<form method="post" action="/editpolicy">
						<input class="administratorViewEditBannerButton" id="administratorViewEditPolicyScaleButton" type="submit" value="Edit">
					</form>		
				</div>
				<div class="administratorViewModuleDisplay">
				
					<!--COPY/PASTE YOUR POLICY DISPLAY MODULE HTML HERE-->
                    <div id="policyViewModule">
                        {% if policies: %}
                            {% for i in policies %}
                            <p style="font-weight: bold;"> {{ i.title }} </p>
                            <pre> {{ i.description }} </pre>
                            <br />
                            {% endfor %}
                            {% else %}
                            <p style="font-weight: bold;"> -- NO ASSESSMENTS ADDED TO SYLLABUS -- </p>
                        {% endif %}
                    </div>
                    <!--END POLICY DISPLAY MODULE-->
                    
                    <!--COPY/PASTE YOUR POLICY EDIT MODULE HERE-->
                    
                    <!--END POLICY EDIT MODULE-->

				</div>
			</div>
			<hr>
						
			<div class="administratorViewModule" id="administratorViewCalendarMain">
				<div class="administratorViewEditBanner" id="administratorViewCalendarBanner">
					<div class="administratorViewEditBannerName">
						<p>Calendar:</p>
					</div>
					<form method="get" action="/editcalendar">
							<input class="administratorViewEditBannerButton" id="administratorViewEditCalendarButton" type="submit" value="Edit">
					</form>		
				</div>
				<div class="administratorViewModuleDisplay">
								
					<!--COPY/PASTE YOUR CALENDAR DISPLAY MODULE HTML HERE-->				
                    <div id="calendarViewMain">
                        <h1>Course Calendar:</h1>
                        <table id="calendarViewCalendarTable">
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn"><span style="font-size:14px; font-weight:bold;">Week</span></td>
                                <td class="calendarViewReadingColumn"><span style="font-size:14px; font-weight:bold;">Reading</span></td>
                                <td class="calendarViewTopicsColumn"><span style="font-size:14px; font-weight:bold;">Topics</span></td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">9/2</td>
                                <td class="calendarViewReadingColumn">1</td>
                                <td class="calendarViewTopicsColumn">What is software engineering?</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">9/9</td>
                                <td class="calendarViewReadingColumn">2, 
                                    <a href="http://www.w3.org/wiki/Web_Standards_Curriculum">HTML5/CSS</a>
                                </td>
                                <td class="calendarViewTopicsColumn">HTML5/CSS</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">9/16</td>
                                <td class="calendarViewReadingColumn">3,Scrum</td>
                                <td class="calendarViewTopicsColumn">Scrum: Intro, PB grooming</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">9/23</td>
                                <td class="calendarViewReadingColumn">4</td>
                                <td class="calendarViewTopicsColumn">Lecture 1: Scrum: Sprint planning; Lecture 2: introduce project: sprint 0; Lab PB grooming, sprint planning</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">9/30</td>
                                <td class="calendarViewReadingColumn"></td>
                                <td class="calendarViewTopicsColumn">Lecture 1: daily scrum, execution</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">10/7</td>
                                <td class="calendarViewReadingColumn">
                                    <a href="https://www.scrum.org/About/All-Articles">Test-Driven Dev</a>
                                </td>
                                <td class="calendarViewTopicsColumn"></td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">10/14</td>
                                <td class="calendarViewReadingColumn">Midterm</td>
                                <td class="calendarViewTopicsColumn"></td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">10/21</td>
                                <td class="calendarViewReadingColumn">S: ch.7</td>
                                <td class="calendarViewTopicsColumn">Test driven development</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">10/28</td>
                                <td class="calendarViewReadingColumn">Sprint 1</td>
                                <td class="calendarViewTopicsColumn"></td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">11/4</td>
                                <td class="calendarViewReadingColumn">S: ch.5</td>
                                <td class="calendarViewTopicsColumn">Encapsulation</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">11/11</td>
                                <td class="calendarViewReadingColumn">Z: ch 6</td>
                                <td class="calendarViewTopicsColumn">Interface Oriented Design</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">11/18</td>
                                <td class="calendarViewReadingColumn">Sprint 2</td>
                                <td class="calendarViewTopicsColumn"></td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">11/25</td>
                                <td class="calendarViewReadingColumn">Sprint 2</td>
                                <td class="calendarViewTopicsColumn"></td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">12/2</td>
                                <td class="calendarViewReadingColumn">S: ch. 9</td>
                                <td class="calendarViewTopicsColumn">Continuous integration</td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">12/9</td>
                                <td class="calendarViewReadingColumn"></td>
                                <td class="calendarViewTopicsColumn"></td>
                            </tr>
                            <tr class="calendarViewCalendarRow">
                                <td class="calendarViewWeekColumn">12/16</td>
                                <td class="calendarViewReadingColumn">Final Exam</td>
                                <td class="calendarViewTopicsColumn"></td>
                            </tr>
                        </table>
                    </div>
                    <!--end calendarView-->
                    
                    <!--calendarEdit-->
                    
                    <!--end calendarEdit-->
                    
				</div>
			</div>
			<hr>

			<div id="administratorViewNavBarSpacer">
			</div>
			
			<div id="administratorViewNavBar">
				<div id="administratorViewNavbarButtons">
					<form>
						<table>
							<tr>
								<td>
									<input class="administratorViewNavBarButton" type="submit" value="Preview" formaction="/preview">
								</td>
								<td>
									<input class="administratorViewNavBarButton" type="submit" value="Save" name="Save">
								</td>
								<td>
									<input class="administratorViewNavBarButton" type="submit" value="Logout" name="Logout">
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			
		</div>
	</body>
    
    
</html>