<!DOCTYPE html>
<html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <title> Administrator View </title>
                <link rel="stylesheet" type="text/css" href="/stylesheets/administratorView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/calendarView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/calendarEdit.css" />    
                <link rel="stylesheet" type="text/css" href="/stylesheets/assessmentView.css" />   
                <link rel="stylesheet" type="text/css" href="/stylesheets/assessmentEdit.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/textbookView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/textbookEdit.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/instructorView.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/instructorEdit.css" />
                <link rel="stylesheet" type="text/css" href="/stylesheets/gradingScaleView.css" />
              
    </head>
    
    <body>
        <div id="administratorViewMain">
            <div id="administratorViewBanner">
                <h1>Syllablaster</h1>
                <h2>Administrator View</h2>
            </div>
            <a href="/list"> &lt; Syllabus Select </a>
            
            <div class="administratorViewModule" id="administratorViewCourseTitleMain">
                <div class="administratorViewEditBanner" id="administratorViewCourseTitleBanner">
                    <div class="administratorViewEditBannerName">
                        <p>Course Info:</p>
                    </div>
                    <form method="get" action="/editinfo">
                        <input class="administratorViewEditBannerButton" id="administratorViewEditCourseTitleButton" type="submit" value="Edit">
                    </form>                    
                </div>
                <div class="administratorViewModuleDisplay">
                
                    <!--COPY/PASTE YOUR COURSE TITLE DISPLAY MODULE HTML HERE-->
                    <div id = "courseInfoViewMain">
                        <h2>
                            {{ info.subject }} {{ info.number }}-{{ info.section }}: 
                            {% if info.title %}
                            {{ info.title }}
                            {% endif %}
                        </h2>    
                    </div>
                    <!--END COURSE TITLE DISPLAY MODULE-->                
                </div>
            </div>
            
            <div class="administratorViewModule" id="administratorViewInstructorInfoMain">
                <div class="administratorViewEditBanner" id="administratorViewInstructorInfoBanner">
                    <div class="administratorViewEditBannerName">
                        <p>Instructor Info:</p>
                    </div>
                    <form method="get" action="/editinstructor">
                        <input class="administratorViewEditBannerButton" id="administratorViewEditInstructorInfoButton" type="submit" value="Edit">
                    </form>        
                </div>
                <div class="administratorViewModuleDisplay">
                
           <!--COPY/PASTE YOUR INSTRUCTOR INFO DISPLAY MODULE HTML HERE-->
                    <div id = "instructorsViewModule">
                            <table id = "instructorsTable">
                                    {% if instructors: %}
                                    <tr>
                                            <th> Instructor </th>
                                            <th> Class </th>
                                            <th> Office </th>
                                    </tr>
                                    {% for i in instructors %}
                                    <tr>
                                            <td> {{ i.first }} {{ i.last }} <br> {{ i.email }} </td>
                                            <td> {{ info.subject}} {{ info.number }}-{{ info.section }} {{ info.building }} {{ info.room }} {{ info.days }} {{ info.start }}-{{ info.end }} </td>
                                            <td> {{ i.building }} {{ i.room }} Phone: {{ i.phone }} <br> Office Hours: {{ i.hours }} </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr> <th> -- NO INSTRUCTORS ADDED TO SYLLABUS -- </th> </tr>
                                    {% endif %}
                            </table>
                    </div>
                <!--END INSTRUCTOR INFO DISPLAY MODULE-->
                    
                <!--COPY/PASTE YOUR INSTRUCTOR INFO EDIT MODULE HERE-->
                    
                <!--END INSTRUCTOR INFO EDIT MODULE-->
                
                
                </div>
            </div>
            
            <div class="administratorViewModule" id="administratorViewTextbooksMain">
                <div class="administratorViewEditBanner" id="administratorViewTextbooksBanner">
                    <div class="administratorViewEditBannerName">
                        <p>Textbooks:</p>
                    </div>
                    <form method="get" action="/editbooks">
                        <input class="administratorViewEditBannerButton" id="administratorViewEditTextbookButton" type="submit" value="Edit">
                    </form>            
                </div>
                <div class="administratorViewModuleDisplay">
                
                    <!--COPY/PASTE YOUR TEXTBOOK DISPLAY MODULE HTML HERE-->
                    <div id="textbookViewMain">
                        {% if books: %}
                        {% for book in books %}
                        <span class="textbookViewTitle">{{ book.title }}</span>,
                        {% if book.edition %}
                        <span class="textbookViewEdition">{{ book.edition }}</span>,
                        {% endif %}
                        <span class="textbookViewAuthor">{{ book.author }}</span>,
                        <span class="textbookViewPublisher">{{ book.publisher }}</span>,
                        ISBN: <span class="textbookViewISBN">{{ book.isbn }}</span>
                        
                        {% if not loop.last %}
                        <br>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p style="font-weight: bold;"> -- NO BOOKS ADDED TO SYLLABUS -- </p>
                        {% endif %}
                    </div>
                    <!--END TEXTBOOK DISPLAY MODULE-->
                    
                    <!--COPY/PASTE YOUR TEXTBOOK EDIT MODULE HERE-->
                    
                    <!--END TEXTBOOK EDIT MODULE-->
                
                </div>
            </div>
                                    
            <div class="administratorViewModule" id="administratorViewAssessmentMain">
                <div class="administratorViewEditBanner" id="administratorViewAssessmentBanner">
                    <div class="administratorViewEditBannerName">
                        <p>Assessment:</p>
                    </div>
                    <form method="get" action="/editassessment">
                        <input class="administratorViewEditBannerButton" id="administratorViewEditAssessmentButton" type="submit" value="Edit">
                    </form>            
                </div>
                <div class="administratorViewModuleDisplay">
                

                
                    <!--COPY/PASTE YOUR ASSESSMENT DISPLAY MODULE HTML HERE-->
                    <div id="assessmentViewMain">
                        <table id = "instructorsTable">
                                {% if assessments: %}
                                {% for i in assessments %}
                                <tr>
                                        <td> {{ i.title }} <br> {{ i.percentage }}% </td>
                                        <td> {{ i.description }} </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr> <th> -- NO ASSESSMENTS ADDED TO SYLLABUS -- </th> </tr>
                                {% endif %}
                        </table>
                    </div>
                    <!--END ASSESSMENT VIEW DISPLAY MODULE-->
                    
                    <!--COPY/PASTE YOUR ASSESSMENT EDIT MODULE HERE-->
                    
                    <!--END ASSESSMENT EDIT MODULE-->
                
                

                </div>
            </div>
                                                
            <div class="administratorViewModule" id="administratorViewGradingScaleMain">
                <div class="administratorViewEditBanner" id="administratorViewGradingScaleBanner">
                    <div class="administratorViewEditBannerName">
                        <p>Grading Scale:</p>
                    </div>
                    <form method="get" action="/editscales">
                        <input class="administratorViewEditBannerButton" id="administratorViewEditGradingScaleButton"type="submit" value="Edit">
                    </form>        
                </div>
                <div class="administratorViewModuleDisplay">
                                
                    <!--COPY/PASTE YOUR GRADING SCALE DISPLAY MODULE HTML HERE-->
                        <div id = "gradeScaleView">
                            <table id = "gradeScaleView">
                            <tr>
                                {% if scale %}
                                    {% for i in scale.gradeScale %}
                                        <td>{{i.letter}}<br>{{i.grade}}</td>
                                    {% endfor %}
                                {% else %}
                                    <h1>No Scale assigned</h1>
                                {% endif %}
                            </tr>
                            </table>
                        </div>
                    <!--END GRADING SCALE POLICY-->
                    
                    <!--COPY/PASTE YOUR GRADING SCALE EDIT MODULE HERE-->
                    
                    <!--END GRADING SCALE EDIT MODULE-->
                
                </div>
            </div>
            
            <div class="administratorViewModule" id="administratorViewPolicyMain">
                <div class="administratorViewEditBanner" id="administratorViewPolicyBanner">
                    <div class="administratorViewEditBannerName">
                        <p>Policy:</p>
                    </div>
                    <form method="post" action="/editpolicy">
                        <input class="administratorViewEditBannerButton" id="administratorViewEditPolicyScaleButton" type="submit" value="Edit">
                    </form>        
                </div>
                <div class="administratorViewModuleDisplay">
                
                    <!--COPY/PASTE YOUR POLICY DISPLAY MODULE HTML HERE-->
                    <div id="policyViewModule">
                        {% if policies: %}
                            {% for i in policies %}
                            <p style="font-weight: bold;"> {{ i.title }} </p>
                            <pre> {{ i.description }} </pre>
                            <br />
                            {% endfor %}
                            {% else %}
                            <p style="font-weight: bold;"> -- NO ASSESSMENTS ADDED TO SYLLABUS -- </p>
                        {% endif %}
                    </div>
                    <!--END POLICY DISPLAY MODULE-->
                    
                    <!--COPY/PASTE YOUR POLICY EDIT MODULE HERE-->
                    
                    <!--END POLICY EDIT MODULE-->

                </div>
            </div>
                        
            <div class="administratorViewModule" id="administratorViewCalendarMain">
                <div class="administratorViewEditBanner" id="administratorViewCalendarBanner">
                    <div class="administratorViewEditBannerName">
                        <p>Calendar:</p>
                    </div>
                    <form method="get" action="/editcalendar">
                            <input class="administratorViewEditBannerButton" id="administratorViewEditCalendarButton" type="submit" value="Edit">
                    </form>        
                </div>
                <div class="administratorViewModuleDisplay">                                
                    <!--COPY/PASTE YOUR CALENDAR DISPLAY MODULE HTML HERE-->                
                    <div id="calendarViewMain">
                        {% if calendar %} 
                            {% set myCalendarSchedule = calendar[0].schedule %}
                            <table id="calendarViewCalendarTable">
                                <tr class="calendarViewCalendarRow">
                                    <td class="calendarViewWeekColumn"><span style="font-size:14px; font-weight:bold;">{{ myCalendarSchedule[0] }}</span></td>
                                    <td class="calendarViewReadingColumn"><span style="font-size:14px; font-weight:bold;">{{ myCalendarSchedule[1] }}</span></td>
                                    <td class="calendarViewTopicsColumn"><span style="font-size:14px; font-weight:bold;">{{ myCalendarSchedule[2] }}</span></td>
                                </tr>
                                {% set l = (myCalendarSchedule|length)//3 %}
                                {% for i in range(1,l) %}
                                    <tr class="calendarViewCalendarRow">
                                        <td class="calendarViewWeekColumn">{{ myCalendarSchedule[3*i] }}</td>
                                        <td class="calendarViewReadingColumn">{{ myCalendarSchedule[3*i+1] }}</td>
                                        <td class="calendarViewTopicsColumn">{{ myCalendarSchedule[3*i+2] }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p style="font-weight: bold;"> -- NO CALENDAR ASSIGNED TO SYLLABUS -- </p>
                        {% endif %}                           
                    </div>
                    <!--end calendarView-->                   
                </div>
            </div>

            <div id="administratorViewNavBarSpacer">
            </div>
            
            <div id="administratorViewNavBar">
                <div id="administratorViewNavbarButtons">
                    <form>
                        <table>
                            <tr>
                                <td>
                                    <input class="administratorViewNavBarButton" type="submit" value="Preview" formaction="/preview">
                                </td>
                                <td>
                                    <input class="administratorViewNavBarButton" type="submit" value="Save" name="Save">
                                </td>
                                <td>
                                    <input class="administratorViewNavBarButton" type="submit" value="Logout" formaction="/logout">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            
        </div>
    </body>
</html>