<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> Policies &gt; Edit </title>
        <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
        <link href="stylesheets/policyEdit.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <div class="administratorViewBanner" id="headerTitle">
            <h1>Syllablaster</h1>
        </div>
        <div class="administratorViewBanner" id="navButtons">
            <form id="buttonsForm" method="get">
                <input class="administratorViewNavBarButton" id="back" type="submit" value="Back" formaction="/">
                <input class="administratorViewNavBarButton" id="logout" type="submit" value="Logout" formaction="/logout">
                <input class="administratorViewNavBarButton" id="preview" type="submit" value="Preview" formaction="/preview">
            </form>
        </div>        
        
        <div id="policiesListSection">
            <h2 style="padding-left: 20px;">Policies Edit</h2>
            {% if errors %}
            <p class="error"> Error: {{ errors }} </p>
            {% endif %}
            
            <form class="policyForm" id="selectForm" action="/policy" method="post">
                <ul id="policiesList">
                    <li>
                        <h3 style="display: inline;"> Saved policies </h3>
                    </li> 
                    {% for p in policies %}
                    <li class="policyItem">
                        <input type="checkbox" value="{{ p.description }}" name="{{ p.description }}" class="policyCheck"
                        {% for b in onSyllabus %}
                        {% if b.description == p.description %}
                        checked="checked"
                        {% endif %}
                        {% endfor %}
                        />
                        {{ p.name }}
                        <button value="{{ p.description }}" name="editButton" formaction="/policy"> Edit </button>
                    </li>
                    {% endfor %}
                    <li class="listButton">
                        <input type="submit" value="Save List" name="saveButton" id="saveButton" />
                    </li>
                </ul>
            </form>
        
            <form class="policyForm" id="editForm" method="post" action="/editpolicy">  
                {% if selected %}    
                <h3 style="display: inline;" class="policyTitle"> {{ selected }} </h3>
                <input type="submit" value="Delete" name="deleteButton" id="deleteButton" />
                <br /><br />
                {% else %}
                <h3> Create a policy. </h3>
                {% endif %}
                
                <input type="text" name="policyTitle" id="policyTitle" placeholder="Title" size="15" required value="{% if title != None %}{{ title }}{% endif %}" />
                <br />
                <br />
                <textarea name="policyDescription" id="policyDescription" placeholder="Description..." rows="10" cols="32" required>{% if description != None %}{{ description }}{% endif %}</textarea>
                <br />
                <br />
                {% if selected %} <input type="submit" value="Update" name="policyEditorButton" id="policyEditorButton" /> {% endif %}
                <input type="submit" value="Create New" name="policyEditorButton" id="policyEditorButton" />
            </form>
        </div>
    </body>
</html>