<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> Policies &gt; Edit </title>
        <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
        <link href="stylesheets/policyEdit.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <a href="/#administratorViewPolicyMain"> &lt; Back </a>
        
        <div id="policiesListSection">
            <div id="savedpoliciesSection" class="policyList">
                <form id="savedpolicies" method="post" action="/addpolicy">
                    <h2> To Add: </h2>
                    <select size="8" name="savedpolicies" id="savedpolicies" class="policiesList">
                        {% for policy in savedPolicies %}
                        <option> {{ policy.name() }} </option>
                        {% endfor %}
                    </select>
                    <br />
                    <input type="submit" value="Edit" name="savedPolicyButton" id="editPolicyButton" />
                    <input type="submit" value="Add" name="savedPolicyButton" id="addPolicyButton" />
                </form>
            </div>
            
            <div id="policiesOnSyllabusSection" class="policyList">
                <form id="policiesOnSyllabus" method="post" action="/removepolicy">
                    <h2> On Syllabus: </h2>
                    <select size="8" name="policiesOnSyllabus" id="policiesOnSyllabus" class="policiesList">
                        {% for policy in policies %}
                        <option> {{ policy.name() }} </option>
                        {% endfor %}
                    </select>
                    <br />
                    <input type="submit" value="Remove" name="removepolicyButton" id="removepolicyButton" />
                </form>
            </div>
        </div>
        
        <hr />
        
        <div id="policyEditor">
            <form id="policyEditorForm" method="post" action="/editpolicy">    
                <h2 style="font-weight: bold;"> Editing: {{ selected }} </h2>
                <br />
                <input type="text" name="policyTitle" id="policyTitle" placeholder="Title" size="15" required value="{% if title != None %}{{ title }}{% endif %}" />
                <br />
                <br />
                <textarea name="policyDescription" id="policyDescription" placeholder="Description..." rows="10" cols="50" required>{% if description != None %}{{ description }}{% endif %}</textarea>
                <br />
                <br />
                <input type="submit" value="Update" name="policyEditorButton" id="policyEditorButton" />
                <input type="submit" value="Create New" name="policyEditorButton" id="policyEditorButton" />
            </form>
        </div>
    </body>
</html>