<!DOCTYPE html>
<html>
    <head>
        <title>Syllablaster &gt; Syllabus Preview</title>
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/calendarView.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/textbookView.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/assessmentView.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/instructorView.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/gradingScaleView.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    </head>
    
    <body>
        <div id="studentViewMain">
        
			<div id="courseInfoView">
				<h1>
					<span id="courseTitle">{{ course.subject }} {{ course.number }}: {{ course.title }}</span> - 
					<span id="courseTerm">{{ term.fullName }}</span>
				</h1>	
			</div>
					
			<div id="instructorsView">
				<table id="instructorsTable">
					<tr>
						<th class="instructorTableHeader">Instructor</th>
						<th class="instructorTableHeader">Class</th>
						<th class="instructorTableHeader">Office</th>
					<tr>
					{% for instructor in instructors %}
					<tr>
						<td class="instructorInfoCell">
							<span class="instructorName">{{ instructor.first }} {{ instructor.last }}</span>
							{% if instructor.email %}
							<br><span class="instructorEmail">{{ instructor.email }}</span>
							{% endif %}
						</td>
						<td class="instructorClassCell">
							<span class="instructorClass">
                                {% if instructor.name == prime or instructor.name == instructors[0].name %}
							        {{ course.subject }} {{ course.number }}-{{ course.section }} {{ course.building }} {{ course.room }} {{ course.days }} {{ course.start }}-{{ course.end }}
                                {% endif %}
							</span>
						</td>
						<td class="instructorOfficeCell">
							<span class="instructorOfficeRoom">{{ instructor.building }} {{ instructor.room }}</span>
							<span class="instructorOfficePhone">{{ instructor.phone }}</span>
							<br>
                            <span class="instructorOfficeHours">
                                Office Hours:
                                {% for h in instructor.hours %}
                                {% if h %}
                                {% if h.day == "Thursday" %}
                                    R
                                {% else %}
                                    {{ h.day[0] }}
                                {% endif %}
                                    {{ h.start }}
                                    {% if h.end %}
                                        - {{ h.end }}
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </span>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
					
            <div id="textbookViewMain">
                <h1 id="textbookViewHeader" class="sectionHeader">Textbooks:</h1>
                {% if textbooks %}
                {% for textbook in textbooks %}
                <span class="textbookViewTitle">{{ textbook.title }}</span>,
                {% if textbook.edition %}
                <span class="textbookViewEditon">{{ textbook.edition }}</span>,
                {% endif %}
                <span class="textbookViewAuthor">{{ textbook.author }}</span>,
                <span class="textbookViewPublisher">{{ textbook.publisher }}</span>,
                ISBN: <span class="textbookViewISBN">{{ textbook.isbn }}</span>
                
                {% if not loop.last %}
                <br>
                {% endif %}
                {% endfor %}
                {% else %}
                <span class="noData">--- NO BOOKS ADDED TO SYLLABUS ---</span>
                {% endif %}
        	</div>
					
            <div id="assessmentViewMain">
                <h1 id="assessmentViewHeader" class="sectionHeader">Assessment:</h1>
                <table id="assessmentViewTable">
                	{% if assessments %}
                	{% for assessment in assessments %}
                	<tr>
                        <td class="assessmentCategory">{{ assessment.title }}<br>{{ assessment.percentage }}%</td>
                		<td class="assessmentDescription">
                			{{ assessment.description|safe }}
                		</td>
                	</tr>
                	{% endfor %}
                	{% else %}
                	<span class="noData">--- NO ASSESSMENTS ADDED TO SYLLABUS ---</span>
                	{% endif %}
                </table>
            </div>
			
			<div id="gradeScaleView">
				<table id="gradeScaleView">
					{% if scale %}
					<tr class="gradeLetter">
						 {% if scale %}
                            {% for i in scale.gradeScale %}
                                <td>{{i.letter}}<br>{{i.grade}}</td>
                            {% endfor %}
                        {% endif %}
					</tr>
					
					{% else %}
					<span class="noData">--- NO GRADING SCALE ADDED TO SYLLABUS ---</span>
					{% endif %}
				</table>
			</div>

			<div id="policyViewMain">
				<h1 id="policyViewHeader" class="sectionHeader">Policies:</h1>
				{% if policies: %}
				{% for policy in policies %}
				<span class="policyTitle" style="font-weight: bold;">{{ policy.title }}</span><br>
				<pre class="policyDesc"> {{ policy.description|safe }} </pre>
				{% endfor %}
				{% else %}
				<span class="noData">--- NO POLICIES ADDED TO SYLLABUS ---</span>
				{% endif %}
			</div>

            <div id="calendarViewMain">
                    <h1 id="calendarViewHeader" class="sectionHeader">Course Calendar:</h1>
                    <table id="calendarViewCalendarTable">
                        {% if calendar %}
                        {% set myCalendarSchedule = calendar[0].schedule %}
                        <tr class="calendarViewCalendarRow">
                            <td class="calendarViewWeekColumn"><span style="font-size:14px; font-weight:bold;">{{ myCalendarSchedule[0] }}</span></td>
                            <td class="calendarViewReadingColumn"><span style="font-size:14px; font-weight:bold;">{{ myCalendarSchedule[1] }}</span></td>
                            <td class="calendarViewTopicsColumn"><span style="font-size:14px; font-weight:bold;">{{ myCalendarSchedule[2] }}</span></td>
                        </tr>
                        {% set l = (myCalendarSchedule|length)//3 %}
                        {% for i in range(1,l) %}
                        <tr class="calendarViewCalendarRow">
                            <td class="calendarViewWeekColumn">{{ myCalendarSchedule[3*i] }}</td>
                            <td class="calendarViewReadingColumn">{{ myCalendarSchedule[3*i+1]|safe }}</td>
                            <td class="calendarViewTopicsColumn">{{ myCalendarSchedule[3*i+2]|safe }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <span class="noData">--- NO CALENDAR DATA ADDED TO SYLLABUS ---</span>
                        {% endif %}
                    </table>
                </div>				
  
        </div>  
    </body>
</html>