<html>
<head>
<title>Grade Editor</title>

<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/gradeEdit.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="administratorViewBanner" id="headerTitle">
            <h1>Syllablaster</h1>
            <h2>Grade Edit</h2>
        </div>
        <div class="administratorViewBanner" id="navButtons">
            <form id="buttonsForm" method="get">
                <input class="administratorViewNavBarButton" id="back" type="submit" value="Back" formaction="/">
                <input class="administratorViewNavBarButton" id="logout" type="submit" value="Logout" formaction="/logout">
                <input class="administratorViewNavBarButton" id="preview" type="submit" value="Preview" formaction="/preview">
            </form>
        </div>        
    <div id="scaleListSection">
            <div id="savedScaleSection" class="scaleList">
                <form id="savedscales" method="post" action="/addscale">
                    <h2> To Add: </h2>
                    {% for s in savedScales %}
                       {% if s.scaleName %}
                        <input type ="checkbox" name = "selectedScale" value = "{{s.scaleName}}" >{{ s.scaleName}}
						<br>
                        {% endif %}
                    {% endfor %}
                    <br />
                    <input type="submit" value="Edit" name="editScale" id="editScaleButton" />
                    <input type="submit" value="Add" name="saveScale" id="addScaleButton" />
                </form>
            </div>
		</div>
		
	<div id ="scaleEditSection">
		<form id = "scaleEdit" action="/editscales" method = "get">
		<table>
			<tr>
				Name of Scale
			</tr>
			<tr>
				<td><input type = "text"id= "scaleName"name = "scaleName" value = "Enter Name Here"></td>
			</tr>
		</table>
		
	  
	  <table>
	  <tr>
		<td><label>Letter</label></td>
		<td><label>Grade</label></td>
	  </tr>
		{%for i in range(0,size)%}
		<tr>
			<td><input type = "text" id = "letter" name = "letter{{i}}" value = "{{letter[i]}}"></td>
			<td><input type = "text" id = "grade" name = "grade{{i}}" value = "{{grade[i]}}"></td>
		</tr>
		{%endfor%}
	  </table>
	  <input type = "submit" id = "next" name = "next" value = "next">
	  <input type = "submit" id = "save" name = "save" value = "save">
	  </form>
  </div>
  
  
  
</body>
</html>

