{% autoescape true%}
<html>
	<head>
		<title> Grade Scales &gt; Edit </title>
        <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
        <a href="/#administratorViewGradingScaleMain"> &lt; Back </a>
		
		<h1>Grade Editor</h1>
		<form method = 'post' action="/editscales"> 
				<div id="list1" class="dropdown-check-list" tabindex="100">
				<span class="anchor">Saved Grade Scales</span>
				<ul class="Grades">
					
						
				</ul>
			</div>
		</form>	
		<form method = 'post' action="/editscales">
			
			<table>
				<tr>
					Type of Scale
				</tr>
				<tr>
					<td><input type = "radio"id= "normScale"name = "scale" value = "normScale" checked>Standard Scale</td>
				</tr>
				<tr>
					<td><input type = "radio" id = "normScale"name = "scale" value = "halfScale">Half Scale</td>
				</tr>
				<tr>
					<td>Minimum Value for A: <input type = "number" id = "minAVal" name = "minAVal" value = "{{minAVal}}"></td>
				</tr>
				<tr>
					<td>Difference: <input type = "number" id = "scaleDiff"name = "scaleDiff" value = "{{scaleDiff}}"></td>
				</tr>
				<tr>
					<td>Scale Name: <input type = "text" id = "scaleDiff"name = "scaleName" value = "new calendar"{{scaleName}}></td>
				</tr>
			</table>
			<input type = "submit" id = "createScale" name = "createScale" value = "Create Scale">
		</form>
		<table>
		<tr>
		{%if nScale%}
			{%for d in range(0,5)%}
				<td>{{normalGrades[d]}}</td>
			{%endfor%}
		{%elif hScale%}
			{%for x in range(0,12)%}
				<td>{{halfGrades[x]}}
			{%endfor%}
		{%endif%}
		</tr>
		<tr>
		{%if nScale%}
			{% for x in range(0,5)%}
			<td>{{grades[x]}}</td>
			{%endfor%}
		{%elif hScale%}
			{%for x in range(0,12)%}
				<td>{{grades[x]}}
			{%endfor%}
		{%endif%}
		</tr>
		</table>
	</body>
</html>
{%endautoescape%}
