<html>
<head>
<title>Grade Editor</title>
<h1>Grade Editor</h1>
</head>
<body>
    <div id="scaleListSection">
            <div id="savedScaleSection" class="scaleList">
                <form id="savedscales" method="post" action="/addscale">
                    <h2> To Add: </h2>
                    {% for GradeScale in savedscales %}
                        <input type ="radio" name = "selectedScale" value = "{{GradeScale.key()}}" >{{ GradeScale.key() }}
						<br>
                    {% endfor %}
                    <br />
                    <input type="submit" value="Edit" name="savedPolicyButton" id="editPolicyButton" />
                    <input type="submit" value="Add" name="savedPolicyButton" id="addPolicyButton" />
                </form>
            </div>
		</div>
		
	<div id ="scaleEditSection">
		<form id = "scaleEdit" method = "get">
		<table>
			<tr>
				Name of Scale
			</tr>
			<tr>
				<td><input type = "text"id= "scaleName"name = "scaleName" value = "scaleName"></td>
			</tr>
		</table>
		
	  
	  <table>
	  <tr>
		<td><label>Letter</label></td>
		<td><label>Grade</label></td>
	  </tr>
		{%for i in range(0,size)%}
		<tr>
			<td><input type = "text" id = "letter" name = "letter{{i}}" value = "{{letter[i]}}"></td>
			<td><input type = "text" id = "grade" name = "grade{{i}}" value = "{{grade[i]}}"></td>
		</tr>
		{%endfor%}
	  </table>
	  <input type = "submit" id = "next" name = "next" value = "next">
	  <input type = "submit" id = "save" name = "save" value = "save">
	  </form>
  </div>
  
  
</body>
</html>
{%endautoescape%}

