<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Textbooks &gt; Search Results</title>
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/textbookEdit.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
   <div class="administratorViewBanner" id="headerTitle">
                <h1>Syllablaster</h1>
                <h2 id="pagetitle">Textbook Search</h2>
            </div>
            <div class="administratorViewBanner" id="navButtons">
                <form id="buttonsForm" method="get">
                    <input class="administratorViewNavBarButton" id="back" type="submit" value="Back" formaction="/editbooks">
                    <input class="administratorViewNavBarButton" id="logout" type="submit" value="Logout" formaction="/logout">
                    <input class="administratorViewNavBarButton" id="preview" type="submit" value="Preview" formaction="/preview">
                </form>
            </div>
            
<div id="listSection">
<div id="stylin">
    <h1 id="result">Textbook Search Results</h1>
    
    {% if errors %}
    <ul id="error">
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    <hr>
    {% endif %}
    <h3>Results for "{{ query }}" in {{ queryField }}:</h3>
    {% if books %}
    <form id="bookSearch" method="post">
	  {% for book in books %}
	  {% if book.isbn in syllabusList %}
	  {% set onSyllabus = True %}
	  {% else %}
	  {% set onSyllabus = False %}
	  {% endif %}
      <input id="{{book.isbn}}" name="bookSelect" value="{{book.isbn}}" type="checkbox">
      <label for="{{book.isbn}}">
        <span class="bookTitle">{{ book.title }}</span>,
        {% if book.edition %}
        <span class="bookEditon">{{ book.edition }}</span>,
        {% endif %}
        <span class="bookAuthor">{{ book.author }}</span>,
        <span class="bookPublisher">{{ book.publisher }}</span>,
        ISBN: <span class="bookISBN">{{ book.isbn }}</span>
    	{% if onSyllabus %} <span class="warning">(On Syllabus)</span> {% endif %}
        &ndash; <a href="/editbook?isbn={{ book.isbn|urlencode }}&amp;onSyllabus=0">Edit</a>
      </label>
      <br>
      {% endfor %}
      <br>
      <input type="submit" name="addBooksToSyllabus" formaction="/addbooks?onSyllabus=0" value="Add to Syllabus">
      <input type="submit" name="removeBooks" formaction="/removebooks?onSyllabus=0" value="Remove">
    </form>
    <br>
    {% else %}
    <span class="noData">No books match your query.</span>
    {% endif %}
</div>
</div>
  </body>
</html>
