html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
	font-family: Sans-serif;
    font-size: 1.5em;
}

pre {
	font-family: sans-serif;
	word-break: break-word;
	white-space: pre-wrap;
}

#administratorViewMain {
	width: 100%;
	background-color: #142225;
}



/* Fixes both the headerTitle div and navButtons div at the top */
.administratorViewBanner {
    position: fixed;
    width: 100%;
    padding: 15px 0 15px 0;
    
}

#headerTitle {
	height: 50px;   
	background-color: #4E987F; 
    text-align: center;
    border-bottom: 3px solid #142225;
}

#buttonsForm {
    width: 70%;
    margin: 0 auto;
}

.administratorViewNavBarButton {
    
    float: right;
    margin-top: 20px;
    margin-right: 0px;
}

#back {
    float: left;
    margin-left: 30px;
}



#administratorViewCourseTitleMain {
    padding-top: 85px;
}
.administratorViewModule {
	/*min-height: 512px;*/
	background-color: #142225;
	padding: 5px;
}

.administratorViewEditBanner {
	height: 63px;
	background-color: #4E98A0;
}

.administratorViewEditBannerName {
	font-size: 48px;
	float: left;
}

.administratorViewEditBannerButton {
	float: right;
}

.administratorViewModule {
	width: 70%;
    margin: 0 auto;
}

.administratorViewModuleDisplay {
	background-color: #EEEEFF;
	/*min-height: 443px;*/
}

input[class="administratorViewEditBannerButton"] {
	background: #8E4731;
	padding: 20px 20px;
	border-radius: 3px;
}

input[class="administratorViewEditBannerButton"]:hover {
    background: #B1583D;
}

input[class="administratorViewNavBarButton"] {
	background: #EEEEFF;
	padding: 12px 12px;
	border-radius: 3px;
}

table.mainViewTable {
    width: 100%;
	border-collapse: collapse;
	text-align: left;
	padding: 20px;
}

table.mainViewTable td {
	border: 1px solid black;
	padding: 5px;
}

div.addedItem {
    padding: 20px;
}