body {   
    background-color: #142225;
}
ul {
    list-style: none;
}

.administratorViewBanner{
    text-align: center;
}
div#assessmentsListSection {
    background-color: #4E98A0;
    font-size: 1.5em; 
    position: relative;
    width: 850px;
    height: 800px;
    /*padding-top: 130px;*/
    margin: 0 auto;
    
}

form.assessmentForm {
    background-color: #4E98A0;
	display: inline-block;
    position: absolute;
}

form#selectForm {
    padding-bottom: 95px;
    left: 0px;
}

form#editForm {
    right: 0px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

li.assessmentItem {
    height: 20px;
}

button {
    display: none;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 15px;
}

li.assessmentItem:hover button {
    display: inline-block;
}


input, select, textarea {
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 0 5px;
}

input.assessmentCheck {  
    width: 18px;   
    height: 18px;
}

form#selectForm li {
    padding: 15px;
}

input#deleteButton {
    right: 0px;
}

p.error {
	color: #D3EF08;
}