@charset "UTF-8";

body{
    background-color: #142225;
}

form#editBook{
     background-color: #4E98A0;
     padding: 20px 0 0 100px;
}

#editBook {
	display: table;
	width: 800px;
}

#editBook div {
	display: table-row;
}

#editBook div label {
	display: table-cell;
	width: 5em;
}

#editBook div input {
	display: table-cell;
	width: 60%;
}

#editBook div input[type="submit"] {
	width: auto;
}

div#editSection {
    font-size: 1.5em; 
    width: 900px;
    height: 800px;
    margin: 0 auto;
    background-color: #4E98A0;
    padding-top: 120px;
    z-index: -1;
}

input, select {
    font-size: .8em;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}