@charset "UTF-8";

body{
    background-color: #142225;
}

form#editBook{
     background-color: #4E98A0;
}

#editBook {
	display: table;
	width: 100%;
}

#editBook div {
	display: table-row;
}

#editBook div label {
	display: table-cell;
	width: 5em;
}

#editBook div input {
	display: table-cell;
	width: 20%;
}

#editBook div input[type="submit"] {
	width: auto;
}
