input, select {
    font-size: 1em;
}

body {
    font-size: 1.5em;
    background-color: #4E98A0;
}

input, select {
    margin: 0 5px 0 5px;
}

div#courseInfoEditSection {
    width: 725px;
    margin: 0 auto;
}

select#subjectSelect {
    width: 60%;
}

div#titleSection input {
    width: 74%;
    
}

input.checkbox {
    margin-left: 20px;
    margin-right: 0px;
}

table {
    width: 0%;
    margin: 0 auto;
}