body {
   
    background-color: #142225;
}

div#courseInfoEditSection {
    font-size: 1.5em;
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #4E98A0;
}

form#updateCourseInfo {
    padding: 50px;
}

select#subjectSelect {
    width: 56%;
}

div#titleSection input {
    width: 74%;
    
}

input.checkbox {
    margin-left: 20px;
    margin-right: 0px;
}

table {
    width: 0%;
    margin: 0 auto;
}


input.administratorViewNavBarButton {
	background: #EEEEFF;
	padding: 12px 12px;
	border-radius: 3px;
}
.administratorViewBanner {
    text-align: center;
}

input, select {
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 0 5px;
}

input.checkbox {  
    width: 18px;   
    height: 18px;
}