body{
     background-color: #142225;
}

div#section {
    background-color: #4E98A0;
    font-size: 1.5em; 
    width: 900px;
    height: 800px;
    margin: 0 auto;
    padding-top: 120px;
    z-index: -1;
}

div.padSection {
    padding: 20px 0 0 100px;
}

input.check {  
    width: 18px;   
    height: 18px;
}

input, select {
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}