body {
    font-size: 1.5em;
    background-color: #4E98A0;
}

div#instructorInfoEditor {
    width: 80%;
    position: relative;
    padding-top: 130px;
    margin: 0 auto;
    background-color: #4E98A0;
}

table.editInstructorList {
    position: relative;
	margin: 0 auto;
}
input[class="administratorViewNavBarButton"] {
	background: #EEEEFF;
	padding: 12px 12px;
	border-radius: 3px;
}
.administratorViewBanner{
    text-align: center;
}

table.editInstructorList td {
	padding: 5px;
}

td.hoursCheck {
    text-align: right;
}

div.instructorSelectionList {
    z-index: 1000;
    position: absolute;
    display: inline-block;
    width: 300px;
    padding: 20px;
}

select.instructorsList {
    width: 60%;
}

div#instructorsToAdd {
    right: 50%;
    text-align: right;

    /*background-color: seagreen;*/
}

div#instructorsOnSyllabus {
    left: 50%;
    text-align: left;

    /*background-color: plum;*/
}

td#deleteButton {
    text-align: right;
}

ul {
    list-style: none;
}

ul li {
    text-align: center;
}