body {   
    background-color: #142225;
}
ul {
    list-style: none;
}
ul li {
    text-align: center;
}

h2#editTitle{
    text-align: center;
}

div#listSection {
    font-size: 1.5em; 
    position: relative;
    width: 900px;
    height: 800px;
    padding-top: 30px;
    margin: 0 auto;
    background-color: #4E98A0;
}

div#instructorInfoEditor {
    font-size: 1.5em;
    width: 1200px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    background-color: #4E98A0;
    
}

form.instructorList {
    position: absolute;
    display: inline-block;
    top: 70px;
    background-color: #4E98A0;
    margin-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
}
#instructorsOnSyllabusForm{
    padding-bottom: 70px;
}

form#instructorsToAddForm {
    left: 0px;
}

form#instructorsOnSyllabusForm {
    right: 0px;
}

ul.instructorList {
    padding: 0px;
}

li#newButton {
    padding: 10px;
}

select.instructorsList {
    width: 100%;
    padding: 5px;
}

option {
    padding: 5px;
}

table.editInstructorList {
    position: relative;
	margin: 0 auto;
}

table.editInstructorList td {
	padding: 5px;
}

td.hoursCheck {
    text-align: right;
}

td#resetButton {
    text-align: right;
}

td#updateButton {
    padding: 20px 0;
}

input, select {
    font-size: .8em;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}

input.hoursCheck {    
    width: 18px;   
    height: 18px;
}

div#somethinstupid {
    height: 85px;
}