body {
    font-size: 1.5em;
}

div#instructorsEditModule {
	position: relative;
    height: 600px;
    
    /*background-color: teal;*/
}

div.instructorSelectionList {
    z-index: 1000;
    position: absolute;
    display: inline-block;
    width: 300px;
    padding: 20px;
}

select.instructorsList {
    width: 60%;
}

div#instructorsToAdd {
    right: 50%;
    text-align: left;

    /*background-color: seagreen;*/
}

div#instructorsOnSyllabus {
    left: 50%;
    text-align: right;

    /*background-color: plum;*/
}

div#instructorInfoEditor {
    position: relative;
    padding-top: 280px;
    
    /*background-color: slateblue;*/
}

div#instructorInfoEditor h1 {
    position: relative;
    left: 200px;
}

table.editInstructorList {
    display: inline-block;
    position: absolute;
}

table#nameSection {
    right: 56%;
    
    /*background-color: springgreen;*/
}

table#officeHoursSection {
    left: 47%;
    
    /*background-color: coral;*/
}

table.editInstructorList td {
	padding: 5px;
}