body
{
    font-size: 1.5em; 
    background-color: #4E98A0;
}

input
{
    width: 100%;
    margin-bottom: 10px;   
}

div
{
    top: 25%;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0)
}

div input
{
	width: 300px;
}

div input[type="submit"]
{
	width: auto;
}

#error
{
	color: #D3EF08;
	font-weight: bold;
	padding-left: 0;
}

input, select {
    font-size: .8em;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}
