body {
	font-family: Sans-serif;
	font-size: 14px;
}

pre {
	width: 100%;
}

div#backdrop {
	width: 100%;
	background-color: #142225;
}

#error {
	color: red;
}

.warning {
	color: red;
	font-weight: bold;
}

.noData {
	font-weight: bold;
}
