body {
	font-family: Sans-serif;
	font-size: 14px;
}

pre {
	width: 100%;
}

div#backdrop {
	width: 100%;
	background-color: #142225;
}

#error {
	color: #D3EF08;
	font-weight: bold;
	background-color: #4E98A0;
}

.warning {
	color: #D3EF08;
	font-weight: bold;
}

.noData {
	font-weight: bold;
}

input.administratorViewNavBarButton {
	background: #EEEEFF;
	padding: 12px 12px;
	border-radius: 3px;
}
.administratorViewBanner{
    text-align: center;
	background-color: #4E987F;
}
