@charset "UTF-8";

.bookTitle {
	font-style: italic;
}

#addBooks {
	display: table;
}

#addBooks div {
	display: table-row;
     background-color: #4E98A0;
}

#addBooks div label {
	display: table-cell;
	width: 5em;
     background-color: #4E98A0;
}

#addBooks div input {
	display: table-cell;
	width: 200%;
}
input[class="administratorViewNavBarButton"] {
	background: #EEEEFF;
	padding: 12px 12px;
	border-radius: 3px;
}
.administratorViewBanner{
    text-align: center;
}
body{
    background-color: #142225;
}
form{
     background-color: #4E98A0;
}
h2{
     background-color: #4E98A0;
     padding-bottom: 10px;
}


