@charset "UTF-8";

.bookTitle {
	font-style: italic;
}

#addBooks {
	display: table;
    background-color: #4E98A0;
    width: 100%;
}

#addBooks div {
	display: table-row;
     background-color: #4E98A0;
}

#addBooks div label {
	display: table-cell;
	width: 5em;
     background-color: #4E98A0;
}

#addBooks div input {
	display: table-cell;
	width: 20%;
}

#addBooks div input[type="submit"] {
	width: auto;
}

input[class="administratorViewNavBarButton"] {
	background: #EEEEFF;
	padding: 12px 12px;
	border-radius: 3px;
}
.administratorViewBanner{
    text-align: center;
}
body{
    background-color: #142225;
}
form#addBooks{
     background-color: #4E98A0;
}
form#searchBooks{
    background-color: #4E98A0;
}
form#currentBooks {
    background-color: #4E98A0;
}
#pagetitle{
    background-color: #4E987F;
}
h2{
    background-color: #4E98A0;
}
h3{
    background-color: #4E98A0;
}
#bookSearch{
    background-color: #4E98A0;
}
#result{
    background-color: #4E98A0;
}



